<!--
<form accept-charset="UTF-8" action="/users" method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
	<label for="email">Email: </label>
  <input type="text" name="user[email]"><br>
  <label for="username">Username: </label>
	<input type="text" name="user[username]"><br>
	<label for="password">Password: </label>
	<input type="text" name="user[password]">
  <input type="submit" value="Submit">
</form>
-->
 
<!--
 <%= form_tag("/users", method: "post") do %>
	<%= label_tag(:email, "Email:") %>
	<%= text_field_tag(:email) %>
	<%= label_tag(:username, "Username:") %>
	<%= text_field_tag(:username) %>
	<%= label_tag(:password, "Password:") %>
	<%= text_field_tag(:password) %>
	<%= submit_tag("Submit") %>
<% end %>
-->

<%= form_for(@user, method: "post") do |f| %>
	Email: <%= f.text_field :email %><br>
	Username: <%= f.text_field :username %><br>
	Password: <%= f.text_field :password %><br>
	<%= f.submit %>
<% end %>